/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

@import url("https://fonts.cdnfonts.com/css/urwclarendont");

.text-ssm {
  font-size: 12px;
}
.border-r-1 {
  border-right-width: 1.5px;
}
.border-b-1 {
  border-bottom-width: 1.5px;
}

.borer-y-1 {
  border-top-width: 1.5px;
  border-bottom-width: 1.5px;
}
.w-cus {
  width: 45rem;
}
.rounded-ssm {
  border-radius: 3px;
}
.outline-0 {
  outline: 0.5px;
}
.font-clarendon {
  font-family: "Clarendon Cn BT", sans-serif;
  font-family: "ClarendonSteDExtBol", sans-serif;
  font-family: "ClarendonTBol", sans-serif;
  font-family: "ClarendonTBolExp", sans-serif;
  font-family: "ClarendonTExtBol", sans-serif;
  font-family: "ClarendonTLig", sans-serif;
  font-family: "ClarendonTMed", sans-serif;
  font-family: "URWClarendonTExtBol", sans-serif;
  font-family: "URWClarendonTExtBolExtNar", sans-serif;
  font-family: "URWClarendonTExtBolExtWid", sans-serif;
  font-family: "URWClarendonTExtWid", sans-serif;
  font-family: "URWClarendonTLigExtNar", sans-serif;
  font-family: "URWClarendonTMed", sans-serif;
  font-family: "URWClarendonTWid", sans-serif;
  font-family: "Clarendon Blk BT", sans-serif;
  font-family: "Clarendon BT", sans-serif;
  font-family: "Clarendon Lt BT", sans-serif;
  font-family: "URWClarendonTExtBolWid", sans-serif;
  font-family: "URWClarendonTLig", sans-serif;
  font-family: "Clarendon-Light", sans-serif;
  font-family: "Clarendon-Bold", sans-serif;
  font-family: "Clarendon-DemiBold", sans-serif;
}
